@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-inter bg-secondary text-white;
  }
}

@layer utilities {
  /* Button */
  .btn {
    @apply py-4 px-4 bg-primary hover:bg-opacity-70 rounded-[30px] text-white text-lg font-semibold;
  }

  /* Head Text */
  .head-text {
    @apply mt-4 text-6xl leading-[72px] font-bold tracking-[-1.2px] text-primary;
  }

  /* Section Text */
  .section-text {
    @apply text-primary text-[32px] font-semibold;
  }

  /* Small Text */
  .small-text {
    @apply flex gap-2 text-sm font-medium text-primary;
  }

  /* Paragraph Text */
  .paragraph-text {
    @apply text-xl leading-[30px] text-gray-400;
  }

  /* Hero Carousel */
  .hero-carousel {
    @apply relative sm:px-10 py-5 sm:pt-20 pb-5 max-w-[560px] h-[700px] w-full bg-secondary rounded-[30px] sm:mx-auto;
  }

  /* Carousel */
  .carousel {
    @apply flex flex-col-reverse h-[700px];
  }

  .carousel .control-dots {
    @apply static !important;
  }

  .carousel .control-dots .dot {
    @apply w-[10px] h-[10px] bg-gray-600 rounded-full bottom-0 !important;
  }

  .carousel .control-dots .dot.selected {
    @apply bg-primary !important;
  }

  /* Trending Section */
  .trending-section {
    @apply flex flex-col gap-10 px-6 md:px-20 py-24;
  }

  /* Product Details Page Styles */
  .product-container {
    @apply flex flex-col gap-16 flex-wrap px-6 md:px-20 py-24;
  }

  .product-image {
    @apply flex-grow xl:max-w-[50%] max-w-full py-16 border border-primary rounded-[17px];
  }

  .product-info {
    @apply flex items-center flex-wrap gap-10 py-6 border-y border-y-primary;
  }

  .product-hearts {
    @apply flex items-center gap-2 px-3 py-2 bg-primary rounded-10;
  }

  .product-stars {
    @apply flex items-center gap-2 px-3 py-2 bg-primary rounded-[27px];
  }

  .product-reviews {
    @apply flex items-center gap-2 px-3 py-2 bg-primary rounded-[27px];
  }

  /* Modal */
  .dialog-container {
    @apply fixed inset-0 z-10 overflow-y-auto bg-black bg-opacity-60;
  }

  .dialog-content {
    @apply p-6 bg-secondary inline-block w-full max-w-md my-8 overflow-hidden text-left align-middle transition-all transform shadow-xl rounded-2xl;
  }

  .dialog-head_text {
    @apply text-primary text-lg leading-[24px] font-semibold mt-4;
  }

  .dialog-input_container {
    @apply px-5 py-3 mt-3 flex items-center gap-2 border border-gray-300 rounded-[27px];
  }

  .dialog-input {
    @apply flex-1 pl-1 border-none text-gray-500 text-base focus:outline-none border border-gray-300 rounded-[27px] shadow-xs;
  }

  .dialog-btn {
    @apply px-5 py-3 text-white text-base font-semibold border border-primary bg-primary rounded-lg mt-8;
  }

  /* Navbar */
  .nav {
    @apply flex justify-between items-center px-6 md:px-20 py-4;
  }

  .nav-logo {
    @apply font-spaceGrotesk text-[21px] text-primary font-bold;
  }

  /* Price Info */
  .price-info_card {
    @apply flex-1 min-w-[200px] flex flex-col gap-2 border-l-[3px] rounded-10 bg-primary px-5 py-4;
  }

  /* Product Card */
  .product-card {
    @apply sm:w-[292px] sm:max-w-[292px] w-full flex-1 flex flex-col gap-4 rounded-md;
  }

  .product-card_img-container {
    @apply flex-1 relative flex flex-col gap-5 p-4 rounded-md;
  }

  .product-card_img {
    @apply max-h-[250px] object-contain w-full h-full bg-transparent;
  }

  .product-title {
    @apply text-primary text-xl leading-6 font-semibold truncate;
  }

  /* Searchbar Input */
  .searchbar-input {
    @apply flex-1 min-w-[200px] w-full p-3 border border-gray-300 rounded-lg shadow-xs text-base text-gray-500 focus:outline-none;
  }

  .searchbar-btn {
    @apply bg-secondary border border-secondary rounded-lg shadow-xs px-5 py-3 text-white text-base font-semibold hover:opacity-90 disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-40;
  }
}
